[submodule "UIAppearance-Demo"]
	path = UIAppearance-Demo
	url = git@github.com:kingcos/UIAppearance-Demo.git
[submodule "bounds-frame-Demo"]
	path = bounds-frame-Demo
	url = git@github.com:kingcos/bounds-frame-Demo.git
[submodule "UIViewController-UIView-LifecycleDemo"]
	path = UIViewController-UIView-LifecycleDemo
	url = git@github.com:kingcos/UIViewController-UIView-LifecycleDemo.git
